.main-nav {
  background-color: #042744;
  color: #FFFFFF;
  padding: 2% 2% 2% 75%;
  display: flex;
  justify-content: space-between;
}

.page-container {
  padding: 3%;
  color: #042744;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: space-between;

    h3 {
      font-family: 'Playfair Display', serif;
    }
}

.playlist-form {
  width: 42%;
  padding: 1%;
  border: #628395 solid 2px;
  background-color: #F4F4F4;
  box-shadow: 0 8px 16px 0 #9ECDE5, 0 6px 20px 0 #042744;

  h3 {
    text-align: center;
    border-bottom: 1px;
    font-size: 24px;
  }

  .form {
    display: flex;
    flex-direction: column;

    input {
      padding: 2% 1%;
      margin: 1% 0;
      color: #042744;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 14px;
    }

    input:focus {
      border: 2px solid #9ECDE5;
      outline: none;
    }

    textarea {
      padding: 2% 1%;
      margin: 1% 0;
      height: 200px;
      color: #042744;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 14px;
    }

    textarea:focus {
      border: 2px solid #9ECDE5;
      outline: none;
    }

    button {
      margin-left: 80%;
      width: 20%;
      background-color: #FF807B;
      border-radius: 4px;
      font-family: 'Playfair Display', serif;
      font-size: 14px;
      color: white;
      font-weight: bold;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    button:hover {
      background-color: #AD243D;
    }
  }
}

.playlist {
  width: 42%;
  padding: 1%;
  border: #628395 solid 2px;
  background-color: #F4F4F4;
  box-shadow: 0 8px 16px 0 #9ECDE5, 0 6px 20px 0 #042744;

  h3 {
    text-align: center;
    border-bottom: 1px;
    font-size: 24px;
  }

  .search-bar {
    padding: 2% 1%;
    margin: 1% 0;
    color: #042744;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 97%;
  }

  .search-bar:focus {
    border: 2px solid #9ECDE5;
    outline: none;
  }
}

.playlist-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1% 0;
  border-bottom: #628395 solid 2px;

  .favorite-btn-container {
    margin-right: 1%;
  }

  .favorited {
    color: #AD243D;
  }

  .unfavorited {
    color: #FF807B;
  }

  .playlist-item {
    padding-left: 3%;


    .playlist-item-val {
      font-weight: 500;
      margin-left: 0.75%;
    }
  }
}
